.about-section {
  position: relative;
  background-position: "center";
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/public/img/home.png");
}

.about-grid {
  min-height: 210px;
  margin-top: 470px;
  margin-left: 30px;
  background-color: #2f3e5b;
  border-radius: 10px;
  opacity: 90%;
}

.about-text {
  justify-content: left;
  margin-left: 30px;
  color: #f7a1bf;
}

.about-image {
  justify-content: right;
  max-height: fit-content;
}
